@page "/"

@using CardGame.Data
@using GameLib.Tables;
@inject BlackjackService BlackjackService;

@if (player == null || playerHand == null || dealerHand == null)
{

    <button @onclick="@(e => buttonStartGameClick(e))">start a game of blackjack</button>

}
else
{
    <table class="cardGameTable">
        <thead>
            <tr>
                <th>Dealer hand</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                @foreach (var card in dealerHand.Cards)
                {
                    @if (card.IsVisible)
                    {
                        <td><img class="cardImage" src=@card.fileName  /></td>
                    }
                    else
                    {
                        <td><img class="cardImage" src="images/purple_back.png"  /></td>
                    }
                }
            </tr>
        </tbody>
    </table>

    <table class="cardGameTable">
        <thead>
            <tr>
                <th>Your hand</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                @foreach (var card in playerHand.Cards)
                {
                    @if (card.IsVisible)
                    {
                        <td><img class="cardImage" src=@card.fileName  /></td>
                    }
                    else
                    {
                        <td><img class="cardImage" src="images/purple_back.png"  /></td>
                    }

                }
            </tr>
        </tbody>
    </table>

    @if (!hasWinner)
    {
    <button class="cardGameButton" @onclick="@(e => ButtonHitClick(e))">Hit</button>
    <button class="cardGameButton" @onclick="@(e => ButtonStayClick(e))">Stay</button>
    }

    @if (hasWinner)
    {
        <h1> You @handOutcome.ToString() !</h1>
        <button class="cardGameButton" @onclick="@(e => buttonResetClick(e))">Deal again</button>
    }
}

@code {
    private Hand playerHand;
    private Hand dealerHand;
    private Player player;
    private bool hasWinner = false;
    private GameLib.HandOutcome handOutcome;

    private void buttonStartGameClick(MouseEventArgs e)
    {
        player = BlackjackService.JoinGame();
        deal();
    }

    private void ButtonHitClick(MouseEventArgs e)
    {
        if (BlackjackService.Hit(playerHand) == -1)
        {
            handOutcome = GameLib.HandOutcome.Lose;
            hasWinner = true;
        }
    }

    private void ButtonStayClick(MouseEventArgs e)
    {
        BlackjackService.Stay();
        handOutcome = BlackjackService.GetHandOutcome(playerHand);
        hasWinner = true;
    }

    private void buttonResetClick(MouseEventArgs e)
    {
        hasWinner = false;
        deal();
    }

    private void deal()
    {
        var hands = BlackjackService.Deal();
        playerHand = hands.FirstOrDefault(hand => hand.Player == player);
        dealerHand = hands.FirstOrDefault(hand => hand.Player == BlackjackService.Dealer);
        if (BlackjackService.GetHandScore(playerHand) == 21)
        {
            handOutcome = GameLib.HandOutcome.Win;
            hasWinner = true;
        }
    }
}

