@page "/"

@using CardGame.Data
@inject BlackjackService BlackjackService;

@if( @bindingObject == null || @bindingObject.Player == null || @bindingObject.PlayerHands == null || @bindingObject.DealerHand == null)
{
    <button @onclick="@(e => buttonStartGameClick(e))">start a game of blackjack</button>
}
else
{
    <table class="cardGameTable">
        <thead>
            <tr>
                <th>Dealer hand</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                @foreach (var card in @bindingObject.DealerHand.Cards)
                {
                    @if (card.IsVisible)
                    {
                        <td><img class="cardImage" src=@card.fileName /></td>
                    }
                    else
                    {
                        <td><img class="cardImage" src="images/purple_back.png" /></td>
                    }
                }
            </tr>
        </tbody>
    </table>

    <table class="cardGameTable">
        <thead>
            <tr>
                <th>Your hand</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                @foreach (var playerHand in bindingObject.PlayerHands)
                {
                    @foreach (var card in playerHand.Cards)
                    {
                        @if (card.IsVisible)
                        {
                            <td><img class="cardImage" src=@card.fileName /></td>
                        }
                        else
                        {
                            <td><img class="cardImage" src="images/purple_back.png" /></td>
                        }

                    }
                }
            </tr>
        </tbody>
    </table>

    @if (!bindingObject.HasWinner)
    {
        <button class="cardGameButton" @onclick="@(e => ButtonHitClick(e))">Hit</button>
        <button class="cardGameButton" @onclick="@(e => ButtonStayClick(e))">Stay</button>
    }

    @if (@bindingObject.HasWinner)
    {
        <h1> You @bindingObject.HandOutcome.ToString() !</h1>
        <button class="cardGameButton" @onclick="@(e => buttonResetClick(e))">Deal again</button>
    }
}

@code {
    private BindingObject bindingObject;

    private void buttonStartGameClick(MouseEventArgs e)
    {
        bindingObject = BlackjackService.JoinGame();
        deal();
    }

    private void ButtonHitClick(MouseEventArgs e)
    {
        BlackjackService.Hit();
    }

    private void ButtonStayClick(MouseEventArgs e)
    {
        BlackjackService.Stay();
    }

    private void buttonResetClick(MouseEventArgs e)
    {
        deal();
    }

    private void deal()
    {
        BlackjackService.Deal();
    }
}

